.nav-item{
  float: right;
}
.wbdv-register-button{
  margin-right: 10px;
  margin-left: 10px;
}
.wbdv-login-button{
  margin-right: 10px;
  margin-left: 10px;
}
.wbdv-logout-button{
  margin-right: 10px;
  margin-left: 10px;
}
