<div>
  <div class="wbdv-enrolled-list">
  <h2>Enrolled Courses</h2>
    <div class="wbdv-no-enrolled-courses" *ngIf="courses.length < 1"><h5>No Enrolled Courses</h5></div>
  <div class="row wbdv-user-courses-list">
    <div *ngFor="let course of courses" class="col-sm-3">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">{{course.title}}</h5>
          <a routerLink="/course/{{course.id}}"
             class="btn btn-primary">View Details</a>
        </div>
      </div>
    </div>
  </div>
  </div>

  <div class="wbdv-available-list">
  <h2>Available Courses</h2>
  <div class="row wbdv-user-courses-list">
    <div *ngFor="let course of availableCourses" class="col-sm-3">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">{{course.title}}</h5>
          <a routerLink="/course/{{course.id}}"
             class="btn btn-primary">View Details</a>
          <a routerLink="/course/{{course.id}}/section"
             class="btn btn-primary">Enroll</a>
        </div>
      </div>
    </div>
  </div>
  </div>
</div>

