<app-header></app-header>
<div class="container-fluid wbdv-admin-page">
  <h1>
    Welcome To Admin Page
    <button (click)="goBackHome()" class="btn btn-primary wbdv-home-link wbdv-right-element"><i
      class="fa fa-chevron-left"></i>
      Back Home
    </button>
  </h1>
  <div class="col row wbdv-details">
    <div class="col-md-6">
        <ul class="list-group">
          <li class="list-group-item wbdv-title"><h3>Courses</h3></li>
          <li class="list-group-item">
            <div class="row">
            <input [(ngModel)]="courseName" [(value)]="courseName" placeholder="Course Name" class="form-control"/>
            <button (click)="createCourse()" class="btn btn-success wbdv-create-course wbdv-right-element">
              <i class="fa fa-plus"> </i></button>
              <button (click)="updateCourse()" class="btn btn-success wbdv-update-course wbdv-right-element">
                <i class="fa fa-edit"> </i></button>
            </div>
          </li>
          <li (click)="getSections(course.id)" class="list-group-item" *ngFor="let course of courses">
           {{course.title}}
            <button (click)="updateCurrentCourse(course.id,course.title)"class="btn btn-success wbdv-update-course wbdv-right-element">
              <i class="fa fa-edit"> </i></button>
            <button (click)="deleteCourse(course.id)"class="btn btn-danger wbdv-delete-course wbdv-right-element">
              <i class="fa fa-trash"> </i></button></li>
        </ul>
    </div>
    <div class="col-md-6">
      <ul *ngIf="sections.length" class="list-group">
      <li class="list-group-item wbdv-title"><h3>Sections</h3></li>
      <li class="list-group-item" *ngFor="let section of sections">
        {{section.name}}
        <button class="btn btn-success wbdv-update-course wbdv-right-element">
          <i class="fa fa-edit"> </i></button>
        <button class="btn btn-danger wbdv-delete-course wbdv-right-element">
          <i class="fa fa-trash"> </i></button></li>
    </ul></div>
  </div>
</div>

