<div class="container-fluid">
  <div class="row">
    <div class="card wbdv-profile col-md-7"><br>
      <h1> Profile
        <button (click)="goBackHome()" class="btn btn-primary wbdv-home-link"><i class="fa fa-chevron-left"></i> Back
          Home
        </button>
        <button routerLink="/profile/adminpage" class="btn btn-primary wbdv-admin-page-btn"> Admin Console</button>
      </h1>
      <label class="control-label" for="usernameFld">Username</label>
      <input id="usernameFld" [(ngModel)]="model.username"
             placeholder="Username"
             class="form-control" disabled=""/>
      <label class="control-label" for="passwordFld">Password</label>
      <input id="passwordFld" [(ngModel)]="model.password"
             placeholder="Password"
             class="form-control"/>
      <label class="control-label" for="firstNameFld">First Name</label>
      <input id="firstNameFld" [(ngModel)]="model.firstName"
             placeholder="First Name"
             class="form-control"/>
      <label class="control-label" for="lastNameFld">Last Name</label>
      <input id="lastNameFld" [(ngModel)]="model.lastName"
             placeholder="Last Name"
             class="form-control"/>
      <label class="control-label" for="emailFld">Email</label>
      <input id="emailFld" [(ngModel)]="model.email"
             placeholder="Email"
             class="form-control"/>
      <label class="control-label" for="phoneFld">Phone</label>
      <input id="phoneFld" [(ngModel)]="model.phone"
             placeholder="Phone Number"
             class="form-control"/>
      <label class="control-label" for="addressFld">Address</label>
      <input id="addressFld" [(ngModel)]="model.address"
             placeholder="Address"
             class="form-control"/>
      <button (click)="update(model)" class="btn btn-success btn-block wbdv-updateProfile">
        <i class="fa fa-edit"> </i> Update
      </button>

      <button (click)="logout()" class="btn btn-danger wbdv-logout">
        <i class="fa fa-sign-out"></i> Logout
      </button>
    </div>
    <div class="col-md-4 card wbdv-profile-section">
      <h3 class="wbdv-heading">Sections Enrolled <div class="wbdv-right-element">Count : {{sections.length}}</div></h3>
      <ul class="list-group">
        <li *ngFor="let enrollment of sections" class="list-group-item">
          <a routerLink="/course/{{enrollment.section.courseId}}/section">{{enrollment.section.name}}</a>
        </li>
      </ul>

      <h3 class="wbdv-heading">Courses Enrolled <div class="wbdv-right-element">Count : {{courses.length}}</div></h3>
      <ul class="list-group">
        <li *ngFor="let course of courses" class="list-group-item">
          <a routerLink="/course/{{course.id}}">{{course.title}}</a>
        </li>
      </ul>
    </div>
  </div>
</div>
