<h2>Course Grid ({{courses.length}})</h2>

<div class="row">
  <div *ngFor="let course of courses" class="col-sm-3">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">{{course.title}}</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a routerLink="/course/{{course.id}}"
           class="btn btn-primary">Go somewhere</a>
        <a routerLink="/course/{{course.id}}/section"
           class="btn btn-primary">Enroll</a>
      </div>
    </div>
  </div>
</div>
